.panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  border-bottom: 1px solid var(--border);
  flex-shrink: 0;
  height: 49px;
  box-sizing: content-box;
}

.panel-header-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
}
